@model IEnumerable<PDFRepositoryProject.Models.DbPDFDocument>

@{
    ViewData["Title"] = "Repository";
}

<h2>PDF Repository</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by file name: <input type="text" name="nameFilter" value="@ViewData["nameFilter"]" />
        </p>
        <p />
        <p>
            Find by file content: <input type="text" name="contentFilter" value="@ViewData["contentFilter"]" />
        </p>
        <p />
        <p>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <input type="button" value="Reset filters" onclick="location.href='@Url.Action("Index", "PDFRepository")'" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDateTime)
            </th>
            <th>
                Show
            </th>
            <th>
                Download
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="15%">
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td width="15%" >
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDateTime)
                </td>
                <td align="center">
                    @Html.ActionLink($"{((char)0x2714).ToString()}", "ShowPDF", new { id = item.Id })
                </td>
                <td align="center">
                    @Html.ActionLink($"{((char)0x2714).ToString()}", "DownloadPDF", new { id = item.Id })
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
